In [34]:
from DataBase import DataBase

database = DataBase()

In [35]:
atletas = database.get_DataBase('SELECT * FROM atleta;')
matchs = database.get_DataBase('SELECT * FROM partida WHERE fase = \'Round Of 128\';')

In [36]:
matchs

    id  id_torneio  set          fase
0    1           3    0  Round Of 128
1    2           3    0  Round Of 128
2    3           3    0  Round Of 128
3    4           3    0  Round Of 128
4    5           3    0  Round Of 128
..  ..         ...  ...           ...
59  60           3    0  Round Of 128
60  61           3    0  Round Of 128
61  62           3    0  Round Of 128
62  63           3    0  Round Of 128
63  64           3    0  Round Of 128

[64 rows x 4 columns]

In [37]:
atletas

      id      nome      sobrenome id_time  id_paÃ­s sexo senha
0      9       LIN        Shidong    None      124    M   123
1     10      Liam      PITCHFORD    None      151    M   123
2     11     Ankur  BHATTACHARJEE    None      104    M   123
3     12       Lam       Siu Hang    None      124    M   123
4     13  Kristian       KALRSSON    None      178    M   123
..   ...       ...            ...     ...      ...  ...   ...
123  132    Edward             LY    None       84    M   123
124  133   Olajide        OMOTAYO    None       31    M   123
125  134  Leonardo         IIZUKA    None       80    M   123
126  135    Nandan         NARESH    None       81    M   123
127  136      WANG         Chugin    None      124    M   123

[128 rows x 7 columns]

In [38]:
atletas.loc[0 // 2, 'id']

np.int64(9)

In [39]:
for row in range(atletas.shape[0]):
    database.insert_Player(
        'atleta_partida',
        '(id_atleta, id_partida)',
        (int(atletas.loc[row, 'id']), int(matchs.loc[row // 2, 'id']))
    )